*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  width: 50%;
  margin: 2rem auto;
}

.book-list-ui {
  display: none;
}

.book-list-ui.visible {
  display: block;
}

.list-ui {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 1rem;
  width: 20%;
  border-bottom: 3px solid #000;
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
