*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 63.5%;
}

body {
  background: white;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 3rem auto;
}

.book-list-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 4px solid black;
}

.list-ui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.list-ui:nth-child(odd) {
  background: #e0e0e0;
}

.books-list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: #000;
  gap: 20px;
  margin-bottom: 1rem;
  width: 50%;
  padding: 0 20px;
}

.remove-btn {
  box-shadow: 3px 5px #000;
  border: 2px solid #000;
  padding: 8px;
}

#add-btn {
  box-shadow: 3px 5px #000;
  border: 4px solid #000;
  font-size: 1rem;
  padding: 8px;
  width: 15%;
}

#title,
#author {
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  border: 4px solid black;
}
